* {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: rgb(183, 192, 165);
  font-family: 'Times New Roman', Times, serif;
}

#logo {
  margin-left: 30px;
  width: 60%;
}

#family {
  float: right;
  width: 35%;
}

nav ul li {
  display: inline;
  position: relative;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  margin: 30px;
  padding: 30px;
}

nav a:hover {
  background-color: black;
  color: white;
}


h1 {
font-size: 500%;
font-family: 'Pacifico', cursive, serif;
margin-top: 60px;
margin-bottom: 20px;
color: rgb(39, 71, 144);
text-align: center;
}

h2 {
  font-size: 3em;
  /* font-family: 'Pacifico', cursive, serif; */
  font-family: 'Rammetto One', cursive, serif;
  margin-top: 60px;
  margin-bottom: 15px;
  text-align: center;
  color: rgb(123, 180, 152);
  -webkit-text-stroke-color: rgb(39, 71, 144);
  -webkit-text-stroke-width: 2px;
}
  
h4 {
  color: rgb(39, 71, 144);
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  font-weight: bolder;
  text-align: center;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  text-align: left;
}

table {
	border: 3px solid rgb(56, 132, 207);
  empty-cells: hide;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(223, 210, 193);
}

td {
	padding: 10px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
}

th {
	background-color: rgb(123, 180, 152);
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

td:first-child {
  background-color: rgb(123, 180, 152);
  font-weight: bold;
  width: 50px;
}

td:last-child {
  background-color: rgb(150, 216, 184);
  font-weight: bold;
}

th:last-child {
  width: 10px;
}

form {
  background-color: rgb(223, 210, 193);
  border: 3px solid rgb(56, 132, 207);
  margin: 30px;
  padding: 10px;
  width: 28%;
}

legend {
  color: black;
  font-size: 150%;
}