

body {
font-family: 'Times New Roman', Times, serif;
background-color: rgb(183, 192, 164);
}

#logo {
  margin-left: 30px;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#family {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35%;
}

h1 {
  color: #274790;
  font-family: 'Pacifico', cursive, serif;
  font-size: 3.5em;
}

nav ul li {
  display: inline;
  position: relative;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  margin: 30px;
  padding: 30px;
}

nav a:hover {
  background-color: black;
  color: white;
}

.popout {
  background-color: #dfd2c1;
  padding-top: 1px;
  padding-bottom: 30px;
  height: 300px;
  width: 100%;
}

.popout h2 {
  font-size: 3em;
  /* font-family: 'Pacifico', cursive, serif; */
  font-family: 'Rammetto One', cursive, serif;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 15px;
  color: rgb(134, 89, 45);
}

.popout h3 {
  font-size: 1.5em;
  font-family: 'Arial Narrow', sans-serif;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 15px;
  color: rgb(191, 128, 64);
}

section.popout div {
  display: inline-block;
  /* float: left; */
  margin: .75em;
  padding: 10px;
  width: 16%;
}

section.popout h4 {
  color: rgb(39, 71, 144);
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

section.popout p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  text-align: center;
}

#pictureWrap {
  height: 16em;
}
.cookiePics img {
  float: left;
  width: 18%;
  margin:10px;
}

.menu {
  background-color: rgb(223, 210, 193);
  padding-top: 1px;
  padding-bottom: 30px;
  height: 300px;
  width: 100%;
}

.menu h2 {
  font-size: 3em;
  font-family: 'Rammetto One', cursive, serif;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 15px;
  color: rgb(134, 89, 45);
}

.menu h3 {
  font-size: 1.5em;
  font-family: 'Arial Narrow', sans-serif;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 15px;
  color: rgb(191, 128, 64);
}

.menu div {
  display: inline-block;
  /* float: left; */
  margin-right: .8em;
  margin-left: .8em;
  padding: 10px;
  width: 21%;
}

.menu h4 {
  color: rgb(39, 71, 144);
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.menu p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  text-align: center;

}

.merchandise {
  background-color: rgb(223, 210, 193);
  float: left;
  padding-top: 1px;
  padding-bottom: 30px;
  height: 500px;
  width: 50%;
}

.merchandise img {
  margin-left: 60px;
}


.merchandise h2 {
  font-size: 3em;
  font-family: 'Rammetto One', cursive, serif;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 15px;
  color: rgb(134, 89, 45);
}

.merchandise h3 {
  font-size: 1.5em;
  font-family: 'Arial Narrow', sans-serif;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 15px;
  color: rgb(191, 128, 64);
}

.testimonials {
  background-color: rgb(223, 210, 193);
  float: right;
  padding-top: 1px;
  padding-bottom: 30px;
  height: 500px;
  width: 50%;
}


.testimonials h2 {
  font-size: 3em;
  font-family: 'Rammetto One', cursive, serif;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 15px;
  color: rgb(134, 89, 45);
}

.testimonials h3 {
  font-size: 1.5em;
  font-family: 'Arial Narrow', sans-serif;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 15px;
  color: rgb(191, 128, 64);
}

.testimonials p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  text-align: left;
  margin: 20px;
}

#password {
  margin-left: auto;
}

p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  text-align: center;
}

#branding h1 {
  width: 100%;
  margin: 20px 30px;
}

.largeLogo, .smallLogo {
  width: 100%;
  margin: 100px;
}

.largeLogo p, .smallLogo p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  text-align: left;
}

.headingColors {
  height: 250px;
  background-color: white;
}

.headingColors p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  margin-left: 30px;
  text-align: left;
}

.headingColors ul {
  display: inline-block;
  margin: 40px;
  text-align: center;
  overflow: hidden;
}

.textStyling h1 {
  color: #274790;
  font-family: 'Pacifico', cursive, serif;
  font-size: 3.5em;
  margin: 30px;
}

.textStyling h2 {
  color: rgb(134, 89, 45);
  font-family: 'Rammetto One', cursive, serif;
  font-size: 3em;
  margin: 30px;
}

.textStyling h3 {
  color: rgb(191, 128, 64);
  font-family: 'Arial Narrow', sans-serif;
  font-size: 1.5em;
  margin: 30px;
}

.textStyling h4 {
  color: rgb(39, 71, 144);
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  margin: 30px;
}

.textStyling p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.25em;
  margin: 30px;
  text-align: left;
}